@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  padding: 1rem;
}

.blue {
    background-color: aliceblue;
}

.container {
    background-color: darkseagreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-evenly;
    /*align-content: space-evenly;*/
    max-width: 80%;
    margin: auto;
    padding: 0 2rem;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

